@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /*background-image: url("./images/ecom.gif");*/
}

/*#root {
    background-image: url("./images/ecom3.webp");
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}*/

body {
    background-image: url("./images/ecom3.webp");
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

#regDiv {
    background-color: white;
}

#logInBG {
    background-color: white;
}

#regUserFont {
    font-family: 'Roboto', sans-serif;
    color: black;
}

#logUserFont{
     font-family: 'Roboto', sans-serif;
    color: black;
}

.regSmallFonts {
    font-weight: bold;
}

.logSmallFonts {
    font-weight: bold;
}

#submitBtn {
    background-color: #ed9329;
    font-weight: bold;
    outline: none;
    margin-top: 15px;
}

#submitBtn1s {
    background-color: #ed9329;
    font-weight: bold;
    outline: none;

}

#submitBtnss {
    background-color: #ed9329;
    font-weight: bold;
    outline: none;

}

#submitBtnDsb {
    background-color: #c4e5ee;
    font-weight: bold;
    color: darkgrey;
    margin-top: 15px;
}

#submitBtnDsb1s {
    background-color: #c4e5ee;
    font-weight: bold;
    color: darkgrey;
}

#prodLabel {
    color: #42cbd3;
    background-color: white;
    border-radius: 7px
}

#quant {
    width: 50px;
    border-color: #42cbd3;
}

#quanty {
    width: 50px;
    border-color: #42cbd3;
}

/*#cartBtn {
    width: 70px;
    margin-left: 10px;
    background-color: #42cbd3;
    border-color: #42cbd3;
}*/

#prodView {
    border-bottom: solid;
}

#prodBtn {
    background-color: #42cbd3;
    border-color: #42cbd3;
    margin-top: 15px;
    margin-bottom: 5px;
}

#prodViewBtn {
    background-color: #42cbd3;
    border-color: #42cbd3;
}

#incBtn {
    border-color: #42cbd3;
}

#addToCartBtn {
    background-color: #42cbd3;
    border-color: #42cbd3;
}

#checkOutBtn {
    background-color: #42cbd3;
    border-color: #42cbd3;
    color: white;
    margin-top: 15px;
    margin-bottom: 15px;
}

#cartsCont {
    margin-bottom: 50px;
}

#homeCap {
    padding-bottom: 50px;
    text-align: center;
}

